.active-link {
  font-size: 20px;
  background-color: rgb(255, 158, 47);
}

.jumbotron-bg {
  margin-bottom: 60px;
}

.warna-bg {
  background-image: linear-gradient(
    to right,
    rgb(91, 192, 255),
    rgb(122, 226, 255)
  );
}

.jumbotron {
  padding: 40px;
  height: 500px;
  overflow: hidden;
}

/* CSS Untuk Carousel */
.carousel-item h1,
.carousel-item p {
  margin-top: 30px;
}

.carousel-item p {
  font-size: 18px;
  text-align: justify;
}

.carousel-item span {
  font-style: italic;
}

.gambar-komputer img {
  margin-left: 10%;
  clip-path: ellipse(170px 140px);
}

/* css untuk card */
.card-end {
  position: relative;
}

.card-end img {
  filter: grayscale(80%);
  opacity: 0.7;
}

.card i {
  color: yellow;
}

.card span {
  font-weight: bold;
  margin-right: 20%;
}

.card a {
  margin-top: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.icon-video {
  position: absolute;
  top: 20%;
  left: 28%;
  border-radius: 30%;
  background: black;
  width: 150px;
  height: 150px;
}

/* Media Query untuk icon video */
@media (min-width: 765px) and (max-width: 992px) {
  .icon-video {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 100px;
    height: 100px;
  }

  .card i {
    display: none;
  }
}

@media (max-width: 764px) {
  .icon-video {
    position: absolute;
    top: 20%;
    left: 28%;
    width: 100px;
    height: 100px;
  }

  .rekomendasi-video .card {
    margin-bottom: 40px;
  }

  .col-sidebar img {
    margin-top: 50px;
  }
}

@media (max-width: 575px) {
  .icon-video {
    position: absolute;
    top: 26%;
    left: 26%;
    width: 250px;
    height: 250px;
  }

  .rekomendasi-video .card {
    margin-bottom: 40px;
  }

  .col-sidebar img {
    margin-top: 50px;
  }
}

/* CSS untuk card rekomendasi */
.rekomendasi-video {
  margin-top: 50px;
}

.rekomendasi-video .card img {
  height: 200px;
}

.card2 .link-rekomendasi {
  /* text-decoration: none; */
  font-weight: bold;
  color: red;
}

/* CSS berita tailwind */
.tailwind {
  margin-top: 50px;
}

.tailwind h2 {
  margin-bottom: 50px;
}

/* CSS Bagian Tentang */
.col-main p {
  text-align: justify;
}

.col-sidebar img {
  width: 100%;
  height: 180px;
  border: 3px solid rgb(255, 244, 244);
}

.card2 {
  margin-bottom: 20px;
  border-radius: 4px;
  border: 2px solid rgb(255, 15, 67);
}

.card2 .card-title a {
  text-decoration: none;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: brown;
}

.card2 .card-title .source {
  font-size: 12px;
  line-height: 30px;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.card2 .card-title .views {
  font-size: 15px;
  line-height: 5px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(82, 78, 78);
}

.views .fa-eye {
  color: rgb(0, 0, 0);
}

.card2 .card-body .btn {
  background-color: rgb(235, 29, 29);
  border: 1px solid red;
  margin-top: -10px;
  padding: 5px;
}

/* CSS untuk form */
form.saran {
  padding: 30px;
  border: 2px solid rgba(0, 218, 120, 0.8);
}

.form-check select {
  width: 104%;
  margin-left: -24px;
}

/* CSS untuk bagian selengkapnya */
#judul-video {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: rgb(234, 58, 39);
}

.thumbnail {
  position: relative;
}

.thumbnail img {
  width: 100%;
  height: 350px;
}

.thumbnail h6 {
  font-style: italic;
  font-size: 12px;
  margin-top: 10px;
  font-weight: normal;
}

.text-sidebar p {
  text-align: justify;
}

.thumbnail,
.text-sidebar {
  margin-bottom: 20px;
}

.komen-user {
  margin-top: 40px;
}

.komen-user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 0px;
}

.komen-user .komen-teks {
  margin-top: 100px;
}

i.fa-star {
  color: rgb(243, 243, 25);
}

svg {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 20%;
  left: 26%;
  color: red;
}

/* CSS untuk footer */
footer {
  margin-top: 100px;
  background-color: rgb(185, 209, 214);
}

footer a {
  text-decoration: none;
  color: rgb(3, 52, 68);
  font-size: 16px;
}

.d-flex {
  width: 50%;
  margin: auto;
  margin-top: 30px;
}

/* CSS untuk form login */
.login-form {
  width: 80%;
  margin-top: 5%;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
  padding: 40px;
  box-sizing: border-box;
}

.login-form input {
  margin-bottom: 10px;
}

.login-form button {
  width: 49%;
}

.input-group-text .fa-at,
.input-group-text .fa-user,
.input-group-text .fa-key {
  height: 25px;
  line-height: 25px;
}

/* Bantuan CSS untuk Jquery */
#playlist-video .card {
  opacity: 0;
  transform: translate(0, -40px);
  transition: 0.5s;
}

#playlist-video .card.muncul {
  opacity: 1;
  transform: translate(0, 0);
}

.sisi-kiri,
.sisi-kanan {
  opacity: 0;
  transform: translate(-40px, -5px) rotate(-10deg);
  transition: 1s;
}

.sisi-kanan {
  transform: translate(40px, 5px) rotate(5deg) scale(0.4);
}

.sisi-kiri.sisi-muncul,
.sisi-kanan.sisi-muncul {
  opacity: 1;
  transform: translate(0, 0);
}
